
.lab-reports-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000;
  text-align: center;
  padding: 20px;
  font: 20px Times New Roman, sans-serif;
}

.header-section {
  background-color: rgba(0, 122, 255, 0.15);
  display: flex;
  padding: 10px 80px;
  gap: 40px 100px;
  overflow: hidden;
  flex-wrap: wrap;
}

.header-content {
  align-self: start;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.main-title {
  font-weight: 700;
  align-self: center;
}

.student-info {
  font-weight: 400;
  margin-top: 18px;
}

.student-photo {
  aspect-ratio: 0.77;
  object-fit: contain;
  object-position: center;
  width: 96px;
}

.lab-works-section {
  background-color: #f9f2c1;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  justify-content: center;
  padding: 21px 70px;
}

.lab-works-container {
  display: flex;
  margin-left: 62px;
  width: 100%;
  max-width: 1382px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lab-work-item {
  border-radius: 28px;
  background-color: #c3881b;
  padding: 15px 32px 25px;
}

.content-section {
  background-color: #f1fff2;
  display: flex;
  width: 560px;
  max-width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: start;
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  padding: 48px 65px 94px;
}

.content-item {
  border-radius: 37px;
  background-color: #188f20;
  padding: 24px 23px;
  margin-top: 31px;
}

.content-item-wide {
  width: 391px;
  max-width: 100%;
  font-size: 20px;
  padding: 19px 56px;
}

.content-item-end {
  align-self: end;
  background-color: #6cbe73;
  padding: 10px 37px 17px;
}

@media (max-width: 991px) {
  .header-section {
    max-width: 100%;
    padding-left: 20px;
  }

  .header-content,
  .main-title,
  .student-info {
    max-width: 100%;
  }

  .lab-works-section {
    max-width: 100%;
    padding: 0 20px;
  }

  .lab-works-container {
    max-width: 100%;
  }

  .lab-work-item,
  .content-section,
  .content-item,
  .content-item-wide {
    padding: 0 20px;
  }

  .content-item-wide {
    white-space: initial;
  }
}
